<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Smart shopping list</title>
              <!-- Compiled and minified CSS -->
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link rel="stylesheet" href="./main.css">
        </head>
        <body>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s10">
                        <input placeholder="Search product..." id="search" type="text" class="validate">
                        <!-- <label for="search">Search product</label> -->
                        </div>
                        <div class="input-field col s2">
                            <div class="btn">
                                    <span>Search</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col s12">
                    <div id="results">
                            <ul>
                                <li v-for="item in items" :bind="item" :key="item.id">
                                        <!-- K-kauppa -->
                                        <div class="card"
                                            v-bind:class="{'orange-color' : item.market === 'K-Market',  'green-color': item.market === 'Prisma'}">
                                            <div class="card-content white-text">
                                                <span class="card-title">{{ item.market }}</span>
                                                <strong>{{ item.title }}</strong>
                                                <p>{{ item.price.euros }},{{ item.price.cents }} / {{ item.price.unit }}</p>
                                                <div v-if="item.showAdditionalInfo">
                                                    <p>Brand: {{ item.brand }}</p>
                                                    <p>Additional info: {{ item.additionalInfo }}</p>
                                                    <p>Offer valid until: {{ item.stopPublish }}</p>
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                <a @click="toggle(item)">More Info</a>
                                                <a>Add to shopping list</a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="./jquery.ajax-cross-origin.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
            <script src="./app.js"></script>
        </body>
        </html>